<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="initial-scale=1,maximum-scale=1,width=device-width" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dumplings'Blog</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" href="3rd/css/github.css">
    <link rel="shortcut icon" href="images/Favicon.ico">
    <link rel="bookmark" href="images/Favicon.ico">
</head>

<body>
    <div class="app-container">
        <div class="cover cover-on">
            <div class="cover-content">
                <div class="dollars">
                    <div class="dollars-circle"></div>
                    <a class="dollars-enter" href="#articles">ENTER</a>
                </div>
            </div>
        </div>
        <div class="enter">
            <div class="enter-content">
                <div class="enter-img"></div>
                <p>あ な た の 怨 み 、 晴 ら し ま す 。</p>
                <form method="POST">
                    <input class="send" name="password" type="password">
                    <button type="submit">送　信</button>
                </form>
            </div>
        </div>
        <div class="sidebar-mobile-btn">
        </div>
        <div class="sidebar">
            <a class="sidebar-logo" href="#cover">
				元宵
			</a>
            <div class="sidebar-list">
                <a class="sidebar-list-item" href="#articles">文章列表</a>
                <div class="sidebar-list-item">标签列表</div>
                <a class="sidebar-list-item" href="#about">关于我</a>
                <a class="sidebar-list-item slider-list-theme">夜间模式</a>
            </div>
            <a class="entry" href="#enter"></a>
            <div class="tagbar">
                <div class="tagbar-list">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-articles">
            </div>
            <div class="content-detail">
                <h1 class="content-detail-title"></h1>
                <p class="content-detail-tag">本文标签：
                    <em>
             			<a class="detail-tag" href='#'>
             			</a>
          			</em>
                </p>
                <p class="content-detail-date">更新于：<em></em></p>
                <div class="content-detail-main markdown">
                </div>
            </div>
            <div class="content-about"></div>
            <div class="content-mask"></div>
        </div>
    </div>
    <script src="3rd/js/markdown.js"></script>
    <script src="3rd/js/highlight.pack.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
